exercises/easy_calculation.cpp
exercises/frodo.cpp
exercises/math_is_love.cpp
exercises/frog1.cpp
exercises/search_the_dictionary.cpp
exercises/phone_list.cpp
.vscode/
.DS_Store
exercises/2017_like_number.cpp
exercises/almost_all_divisors.cpp
Notes.md
